<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title> MeteoClima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
  <ion-card id="both" >
    <ion-card-header color="primary">
      <ion-card-title class="ion-text-center">Contact Form</ion-card-title>
    </ion-card-header>

    <ion-card-content color="primary" text-center>
     <ion-list  *ngFor="let field of fields">
      <ion-item>
        <ion-label position="floating" inputmode="field.type">{{field.fieldName}}</ion-label>
        <ion-input></ion-input>
      </ion-item>
     </ion-list>

     <ion-list>
      <ion-item text-wrap>
        <ion-textarea rows="6" cols="20" placeholder="Enter your message here"></ion-textarea>
      </ion-item>
     </ion-list>

     <ion-button (click)="sendNotification()" size="small">
      Send message
      <ion-icon slot="start" name="paper-plane"></ion-icon>
    </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>



